{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Keresett könyvek</h1>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Időpont</th>
            <th>Státusz</th>
            <th>Író</th>
            <th>Cím</th>
            <th>Egyéb</th>
            <th>Módosítás</th>
            <th>Törlés</th>
        </tr>   
    </thead>
    <tbody>
        {{#each books}}
        <tr>
            <td>{{date}}</td>
            <td><span class="label label-{{statusClass}}">{{statusText}}</span></td>
            <td>{{writer}}</td>
            <td><span class="badge">{{numberOfMessages}}</span> {{booktitle}}</td>
            <td>{{other}}</td>
            <td><a href="/books/{{id}}">Mód.</a></td>
            <td><a href="/books/delete/{{id}}">Tör.</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p><a href="/books/new" class="btn btn-default">Új könyv keresése</a></p>

    </body>
    
</html>